:root{
    /* HEADER */
    --header-footer-fore-color: rgb(20, 20, 20);
    --header-footer-back-color: rgb(200, 200, 200);
    
    --header-fore-color: var(--header-footer-fore-color);
    --header-back-color: var(--header-footer-back-color);
    --header-border-color: var(--header-footer-fore-color);
    
    /* BODY */
    --body-background-color: rgb(230, 230, 230);
    
    /* FOOTER */
    --footer-fore-color: var(--header-footer-fore-color);
    --footer-back-color: var(--header-footer-back-color);;
    --footer-border-color: var(--header-footer-fore-color);
}   

body {
    background: var(--body-background-color);
}

a.show{
    color: rgb(51, 33, 7);
    text-decoration: none;
}
a.show:hover{
    color: rgb(249, 144, 7);
    text-decoration: none;
    cursor: pointer;
}

.float-right {
    float: right;
}

.micro {
    font-size: 12px;
}

.add-shadow {
    box-shadow: 0px 5px 10px var(--header-footer-fore-color);
}

.various-compartment {
    display: none;
}

@media screen and (max-width: 600px){
    .horizontal-separator {
        margin: 20px 0px 0px 0px;
    }
}
@media screen and (max-width: 800px){
    .horizontal-separator {
        margin: 30px 0px 0px 0px;
    }
}
@media screen and (max-width: 1000px){
    .horizontal-separator {
        margin: 40px 0px 0px 0px;
    }
}
@media screen and (max-width: 1200px){
    .horizontal-separator {
        margin: 50px 0px 0px 0px;
    }
}
@media screen and (max-width: 1400px){
    .horizontal-separator {
        margin: 60px 0px 0px 0px;
    }
}
@media screen and (max-width: 1600px){
    .horizontal-separator {
        margin: 80px 0px 0px 0px;
    }
}
@media screen and (max-width: 2000px){
    .horizontal-separator {
        margin: 100px 0px 0px 0px;
    }
}